<header>
   <div class="header-top">
     <div class="container">
       <div class="d-flex align-items-center justify-content-between">
         <!-- Logo -->
         <a class="navbar-brand" href="index.html">
           <img src="../../assets/images/logo.png" alt="Logo Urgence Cardio" class="logo1">
         </a>
         
         <!-- Informations de l'entête -->
         <div class="header-info d-flex align-items-center">
           <div class="info-inner d-flex align-items-center ms-3">
             <span class="icontop"><img src="../../assets/images/phone-icon.png" alt="Icon Téléphone" class="icon1"></span>
             <span class="iconcont ms-2"><a href="tel:33 825 04 04">33 825 04 04</a></span>
           </div>
           <div class="info-inner d-flex align-items-center ms-3">
             <span class="icontop"><i class="fa fa-envelope" aria-hidden="true"></i></span>
             <span class="iconcont ms-2"><a href="mailto:urgencecardio@urgencecardio.com">urgencecardio@urgencecardio.com</a></span>
           </div>
           <div class="info-inner d-flex align-items-center ms-3">
             <span class="icontop"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
             <span class="iconcont ms-2"><a href="#">Daily: 24h/24</a></span>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="header-bottom">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="info-inner1 navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">À propos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#service">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#docteurs">Docteurs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#temoignages">Témoignages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#getintouch">Contact</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
               <li class="nav-item1">
                  <button class="btn btn-primary" (click)="Authentifier()">Login</button>
               </li>
             </ul>
          </div>
        </nav>
      </div>
    </div>
    
   
 </header>
 
 <div class="container" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4" style="background-image:url('../../assets/images/slider-bg.png');">
     <div id="home" >
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12">
                  <div class="text-contant">
                     <h2>
                         <!-- src/app/login/login.component.html -->
                         <div class="center">
                             <span class="icon">
                                 <img src="../../assets/images/icon-logo.png" alt="#" />
                             </span>
                              <a href="" class="tw">
                             <span class="wrap"></span>
                             </a>
                         </div>
       
                     </h2>
                  </div>
               </div>
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
       </div>
       <!-- src/app/login/login.component.html -->
     <!-- src/app/login/login.component.html -->
     <div id="time-table" class="time-table-section">
         <div class="container1">
           <div class="column">
             <div class="service-time one" style="background:#f12828;">
               <span class="info-icon"><i class="fa fa-ambulance" aria-hidden="true"></i></span>
               <h3>Cas d'urgence</h3>
               <p>Assistance cardiaque d'urgence disponible 24/7 pour des interventions immédiates et efficaces</p>
             </div>
           </div>
           <div class="column">
             <div class="service-time middle" style="background:#f52d37;">
               <span class="info-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
               <h3>Working Hours</h3>
               <div class="time-table-section">
                 <ul>
                   <li><span class="left">Monday - Friday</span><span class="right">24h/24</span></li>
                   <li><span class="left">Saturday</span><span class="right">24h/24</span></li>
                   <li><span class="left">Sunday</span><span class="right">24h/24</span></li>
                 </ul>
               </div>
             </div>
           </div>
           <div class="column">
             <div class="service-time three" style="background:#f12828;">
               <span class="info-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
               <h3>Emploi du temps de la Clinique</h3>
               <p>Ouverte 24h/24 et 7j/7, notre clinique garantit un accès permanent à des soins cardiaques spécialisés.</p>
             </div>
           </div>
         </div>
       </div>
 </div>
 <div id="about" class="section wow fadeIn">
     <div class="container">
       <!-- En-tête avec le logo et le titre -->
       <div class="heading">
         <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
         <h2>Nos spécialités</h2>
       </div>
       
     </div>
     <div class="container">
         <div class="row1">
             <div class="col-md-6">
                 <div class="message-box">
                     <h4 style="color: #f12828;">Que faisons nous?</h4>
                     <h2>Nos Services Cliniques</h2>
                     <p class="lead">À Urgence Cardio, nous offrons une gamme complète de services cardiologiques pour répondre aux besoins de chaque patient.
                          Notre équipe dédiée de cardiologues expérimentés s'engage à fournir des soins personnalisés et de haute qualité pour améliorer votre santé cardiaque</p>
                     <p> Nos services incluent des consultations spécialisées, des diagnostics précis grâce à des équipements de pointe, des traitements interventionnels et une prise en charge des urgences cardiaques 24h/24.
                     </p>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="post-media wow fadeIn">
                     <img src="../../assets/consultation.jpg" alt="" class="img-responsive">
                 </div>
             </div>
         </div>
     </div>
 
     
 
      <!-- <div class="col-md-6">
                 <div class="post-media wow fadeIn">
                     <img src="../../assets/images/about_03.jpg" alt="" class="img-responsive">
                     <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
                 </div>
             </div> -->
     
     <div class="card-group">
         <div class="card">
             <img src="..." class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Consultations cardiologiques</h5>
             </div>
           </div>
         <div class="card">
           <img src="..." class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">Tests diagnostiques</h5>
           </div>
         </div>
         <div class="card">
           <img src="..." class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">Médecins spécialistes</h5>
           </div>
         </div>
         <div class="card">
           <img src="..." class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">Traitements et interventions</h5>
           </div>
         </div>
       </div>
       
   </div>
   <div id="service" class="services wow fadeIn">
     <div class="container2">
         <div class="row">
             <!-- Colonne des cartes -->
             <div class="col-md-8">
                 <div class="row row-cols-1 row-cols-md-3">
                     <div class="col mb-4">
                       <div class="card1">
                         <div class="card-body1">
                             <div class="serv">
                                 <span class="icon-service"><img src="../../assets/images/service-icon1.png" alt="#" /></span>
                                 <h4>PREMIUM FACILITIES</h4>
                                 <p>Équipements de pointe pour soins cardiaques.</p>
                              </div></div>
                       </div>
                     </div>
                     <div class="col mb-4">
                       <div class="card1">
                         <div class="card-body1">
                             <div class="serv">
                                 <span class="icon-service"><img src="../../assets/images/service-icon2.png" alt="#" /></span>
                                 <h4>LARGE LABORATORY</h4>
                                 <p>Technologies de pointe pour des diagnostics précis.</p>
                              </div></div>
                       </div>
                     </div>
                     <div class="col mb-4">
                       <div class="card1">
                         <div class="card-body1">
                             <div class="serv">
                                 <span class="icon-service"><img src="../../assets/images/service-icon3.png" alt="#" /></span>
                                 <h4>DETAILED SPECIALIST</h4>
                                 <p>Experts en cardiologie pour des soins personnalisés.</p>
                              </div></div>
                       </div>
                     </div>
                     <div class="col mb-4">
                       <div class="card1">
                         <div class="card-body1">
                             <div class="serv">
                                 <span class="icon-service"><img src="../../assets/images/service-icon4.png" alt="#" /></span>
                                 <h4>CHILDREN CARE CENTER</h4>
                                 <p>Soins adaptés dans un environnement sécurisé.</p>
                              </div></div>
                       </div>
                     </div>
                     <div class="col mb-4">
                         <div class="card1">
                           <div class="card-body1">
                             <div class="serv">
                                 <span class="icon-service"><img src="../../assets/images/service-icon5.png" alt="#" /></span>
                                 <h4>FINE INFRASTRUCTURE</h4>
                                 <p>Confort et sécurité avec des infrastructures modernes.</p>
                              </div>
                             </div>
                         </div>
                       </div>
                       <div class="col mb-4">
                         <div class="card1">
                           <div class="card-body1">
                             <div class="serv">
                                 <span class="icon-service"><img src="../../assets/images/service-icon6.png" alt="#" /></span>
                                 <h4>ANYTIME BLOOD BANK</h4>
                                 <p>Disponibilité immédiate pour toutes urgences.</p>
                              </div></div>
                         </div>
                       </div>
                 </div>
             </div>
 
             <!-- Colonne du formulaire -->
             <div class="col-md-4">
                 <div class="appointment-form">
                    <h3><span>+</span> Prise de Rendez-vous</h3>
                    <div class="form">
                       <form action="index.html">
                          <fieldset>
                             <div class="form-group">
                                <input type="text" id="name" placeholder="Nom & Prénoms"  />
                             </div>
                             <div class="form-group">
                                <input type="email" placeholder="Adresse Email" id="email" />
                             </div>
                             <div class="select-section">
                                <div class="form-group">
                                   <select class="form-control">
                                      <option>Jour</option>
                                      <option>Lundi</option>
                                      <option>Mardi</option>
                                      <option>Mercredi</option>
                                      <option>Jeudi</option>
                                      <option>Vendredi</option>
                                      <option>Samedi</option>
                                   </select>
                                </div>
                                <div class="form-group">
                                   <select class="form-control">
                                      <option>Moment</option>
                                      <option>Matinée</option>
                                      <option>Après-midi</option>
                                   </select>
                                </div>
                             </div>
                             <div class="form-group">
                                <select class="form-control">
                                   <option>Nom du Docteur</option>
                                   <option>Mr. DIOUF</option>
                                   <option>Mme. NDIAYE</option>
                                   <option>Mme. GUEYE</option>
                                </select>
                             </div>
                             <div class="form-group">
                                <textarea rows="4" id="textarea_message" class="form-control" placeholder="Votre Message..."></textarea>
                             </div>
                             <div class="form-group">
                                <button type="submit">Envoyer</button>
                             </div>
                          </fieldset>
                       </form>
                    </div>
                 </div>
              </div>
         </div>
     </div>
 </div>
 <br><br>
 
 <div id="docteurs" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;" data-scroll-id="docteurs" tabindex="-1">
     <div class="container">
    
    <div class="heading">
            <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
            <h2>La clinique spécialisée</h2>
         </div>
    
         <div class="row dev-list text-center">
             <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                 <div class="widget clearfix">
                     <!-- <img src="C:\Users\HP I5\Downloads\handsome-elderly-doctor-uniform.jpg" alt="" class="img-responsive img-rounded"> -->
                     <div class="widget-title">
                         <h4>Ahmed Youssef</h4>
                         <small>Clinic Owner</small>
                     </div>
                     <!-- end title -->
                     <p>Je suis Ahmed, fondateur d’Urgence Cardio, dédié à offrir des soins cardiaques exceptionnels</p>
    
                     <div class="footer-social">
                         <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                         <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                         <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                         <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                     </div>
                 </div><!--widget -->
             </div><!-- end col -->
    
             <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeIn;">
                 <div class="widget clearfix">
                     <!-- <img src="C:\Users\HP I5\Downloads\female-doctor-writing-clipboard (1).jpg" alt="" class="img-responsive img-rounded"> -->
                     <div class="widget-title">
                         <h4>Fatou Ndiaye</h4>
                         <small>Cardiologue</small>
                     </div>
                     <!-- end title -->
                     <p> Je suis spécialiste en traitements interventionnels cardiaques, passionnée par l'amélioration de votre santé</p>
    
                     <div class="footer-social">
                         <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                         <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                         <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                         <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                     </div>
                 </div><!--widget -->
             </div><!-- end col -->
    
             <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
                 <div class="widget clearfix">
                     <!-- <img src="C:\Users\HP I5\Downloads\female-doctor-wearing-stethoscope-medium-shot.jpg" alt="" class="img-responsive img-rounded"> -->
                     <div class="widget-title">
                         <h4> Aïssatou Gueye</h4>
                         <small>Cardiologue</small>
                     </div>
                     <!-- end title -->
                     <p>Bonjour, experte en échocardiographie, je suis engagée à guider vos soins cardiaques</p>
    
                     <div class="footer-social">
                         <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                         <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                         <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                         <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                     </div>
                 </div><!--widget -->
             </div><!-- end col -->
    
         </div><!-- end row -->
     </div><!-- end container -->
    </div>
    <div id="getintouch" class="section wb wow fadeIn" style="padding-bottom:0;">
     <div class="container">
        <div class="heading">
           <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
           <h2>Get in Touch</h2>
        </div>
     </div>
     <div class="contact-section">
        <div class="form-contant">
           <form id="ajax-contact" action="assets/mailer.php" method="post">
              <div class="row">
                 <div class="col-md-6">
                    <div class="form-group in_name">
                       <input type="text" class="form-control" placeholder="Name" required="required">
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="form-group in_email">
                       <input type="email" class="form-control" placeholder="E-mail" required="required">
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="form-group in_email">
                       <input type="tel" class="form-control" id="phone" placeholder="Phone" required="required">
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="form-group in_email">
                       <input type="text" class="form-control" id="subject" placeholder="Subject" required="required">
                    </div>
                 </div>
                 <div class="col-md-12">
                    <div class="form-group in_message"> 
                       <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required"></textarea>
                    </div>
                    <div class="actions">
                       <input type="submit" value="Send Message" name="submit" id="submitButton" class="btn small" title="Submit Your Message!">
                    </div>
                 </div>
              </div>
           </form>
        </div>
        <app-google-map></app-google-map>
     </div>
   </div>
   <footer id="footer" class="footer-area wow fadeIn">
     <div class="container">
        <div class="row">
           <div class="col-md-4">
              <div class="logo padding">
                 <a href=""><img src="../../assets/images/logo.png" alt=""></a>
                 <p>Locavore pork belly scen ester pine est chill wave microdosing pop uple itarian cliche artisan.</p>
              </div>
           </div>
           <div class="col-md-4">
              <div class="footer-info padding">
                 <h3>CONTACTEZ NOUS</h3>
                 <p><i class="fa fa-map-marker" aria-hidden="true"></i> Sotrac Mermoz N°133 (En Face Keur Cheikh Bethio), Les Voies de I'Alternance, Dakar 45485</p>
                 <p><i class="fa fa-paper-plane" aria-hidden="true"></i> urgencecardio@urgencecardio.com</p>
                 <p><i class="fa fa-phone" aria-hidden="true"></i> (+221) 33 825 04 04</p>
              </div>
           </div>
           <div class="col-md-4">
              <div class="subcriber-info">
                 <h3>SUBSCRIBE</h3>
                 <p>Get healthy news, tip and solutions to your problems from our experts.</p>
                 <div class="subcriber-box">
                    <form id="mc-form" class="mc-form">
                       <div class="newsletter-form">
                          <input type="email" autocomplete="off" id="mc-email" placeholder="Email address" class="form-control" name="EMAIL">
                          <button class="mc-submit" type="submit"><i class="fa fa-paper-plane"></i></button> 
                          <div class="clearfix"></div>
                          <!-- mailchimp-alerts Start -->
                          <div class="mailchimp-alerts">
                             <div class="mailchimp-submitting"></div>
                             <!-- mailchimp-submitting end -->
                             <div class="mailchimp-success"></div>
                             <!-- mailchimp-success end -->
                             <div class="mailchimp-error"></div>
                             <!-- mailchimp-error end -->
                          </div>
                          <!-- mailchimp-alerts end -->
                       </div>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </div>
   </footer>
  
   
   